.gradient {
  border-radius: 10px;
  background: linear-gradient(to bottom right, #FFF, #EDEDED);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  border-width: 10px;
  border-style: solid;
  border-color: #909090 #909090 #606060 #606060;
  width: 100vh;
}

body {
  background-image: url('wall.jpg');
}

video {
  border-radius: 10%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
